/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eaeaea;
}

/* Header styling */
header h1 {
    padding: 20px;
    background-color: #E62117; /* A nod to the Hollywood red */
    color: white;
    text-align: center;
}

/* Navigation menu styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Image gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.image-gallery img {
    width: calc(50% - 20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .image-gallery img {
        width: calc(100% - 20px);
    }
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
